main.section.new-post(v-if="getLogin")
  ul.tab-panel
    li.tab(:class="!preview && 'active'" @click="editPost()")
      h3 Editor
    li.tab(:class="preview && 'active'" @click="previewPost()")
      h3 Preview
  Toolbar(
    :back="true"
    title="New Post"
  )
  div.thread-comment-box(v-if="!preview")
    textarea.textarea(
      id="postBody"
      placeholder="Please be friendly..."
      v-model="postBody"
    )
    ApolloMutation(
      :mutation="newPostMutation"
      :variables="{ body: postBody, id: threadId }"
      @done="postSuccess"
      @error="postError"
    )
      template(slot-scope="{ mutate }")
        button(
          class="pure-button -fixed pure-button-primary input"
          @click="createPost(mutate)"
        ) New Post
  vue-markdown.markdown-style(v-else) {{ postBody }}