main.section
  ApolloQuery(
    :query="categoryQuery"
    :variables="{ id }"
    :skip="!id"
    fetchPolicy="network-only"
  )
    template(slot-scope="{ result: { loading, error, data } }")
      div(v-if="loading" class="loading apollo") Loading...
      div(v-else-if="error" class="error apollo") An error occured
      div(v-else-if="data" class="result apollo")
        Toolbar(
          back
          :title="data.category.title"
        )
        ul.thread-list(v-if="data.category.threads && data.category.threads.length > 0")
          li.thread(
            @click="goToThread(data.category.id, thread.id)"
            :key="thread.id"
            v-for="thread of data.category.threads"
            v-if="data.category.threads"
          )
            div.thread-side
              i.icon.fas.fa-book-open
            section.thread-main
              header.thread-header
                span {{ thread.title}}
                span.date {{ timeF.formatDate(thread.insertedAt) }}
              dl.thread-main-list
                dt Last Updated
                dd {{ timeF.formatDate(thread.updatedAt) }}
        ul.thread-list(v-else)
          li.thread-list-header
            p.subtitle There are no threads to display.
        router-link.pure-button.-fixed(
          :to="`/categories/${data.category.id}/new-thread/`"
          v-if="getLogin"
        ) New Thread